.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30px;
  grid-template-areas: "code code" "tabs tabs";
  min-height: 100vh;
  width: 100%;
}

.codeWrapper {
  grid-area: code;
  background: #1b1b2f;
}

.tabsWrapper {
  grid-area: tabs;
  background: #162447;
}
